
//******************** index***************

.carousel_table p {
  width: 21rem;
}

// ****************home index *****************************

.carousel_pictures {
  transition: all .2s ease-in-out;
}
.carousel_pictures:hover {
  transform: scale(1.1);
}
